<% layout("layouts/boilerplate") -%>
<div class="bg-primary d-flex flex-column vw-100 vh-100 justify-content-center align-items-center text-white" >
    <h1>Student Managements System</h1>
    <p>store the students informations</p>
</div>
